In [4]:
mytuple=(0,[1,2,3],(4,5,6),7,0)
print(mytuple)
print(type(mytuple))
#data=('A') #this is not a tuple
#print(type(data)) # it will show a string
data=('A',) #add one comma so it will become tuple
print(type(data))

(0, [1, 2, 3], (4, 5, 6), 7, 0)
<class 'tuple'>
<class 'tuple'>

In [8]:
#Access elements
print("First element: ", mytuple[0])
print("Last Element: ",mytuple[-1])
mydata=(2,3,4,5,6,7,8,9)
print(mydata[:3])
print(mydata[2:5])
#do the concatation of tuple and multiplying a tuple

First element:  0
Last Element:  0
(2, 3, 4)
(4, 5, 6)

In [10]:
import sys
#diffrence memory wise between tuple and list
alist=['abc','xyz',123,234,345,456,12,31.23,0.1234]
atuple=('abc','xyz',123,234,345,456,12,31.23,0.1234)
print("size of list: ", sys.getsizeof(alist),' bytes')
print("size of tuple: ", sys.getsizeof(atuple),' bytes')

size of list:  136  bytes
size of tuple:  112  bytes

In [11]:
#swapping values --> assign y to x and x to y
x=15
y=67
print("Before Swap x: ",x," & y: ",y)
(x,y)= (y,x) #easy to swap using tuples
print("After Swap x: ",x," & y: ",y)

Before Swap x:  15  & y:  67
After Swap x:  67  & y:  15

In [12]:
#function can return only one value but we can return multiple values using tuple
def sum_and_avg(x,y,z):
    s=x+y+z
    a=s/3
    return (s,a)

(S,A)= sum_and_avg(5,10,9)
print("Sum: ",S)
print("Avg: ",A)

Sum:  24
Avg:  8.0

In [14]:
#set 
student_id={101,102,103,104,105}
print("Student Id details: ", student_id)
letters={"abc","def","ghi"}
print("Letters details: ", letters)

Student Id details:  {101, 102, 103, 104, 105}
Letters details:  {'ghi', 'abc', 'def'}

In [18]:
emptyset={} #empty set using {} it will create a dictionary object
print(type(emptyset))
emptyset1= set()
print(emptyset1)
print(type(emptyset1))

<class 'dict'>
set()
<class 'set'>

In [20]:
set1={2,4,6,7,2,5,6,9}
print(set1)
#convert set to list
mylist=list(set1)
print(mylist)

{2, 4, 5, 6, 7, 9}
[2, 4, 5, 6, 7, 9]

In [21]:
numbers={21,34,54,12}
print("initial set: ",numbers)
numbers.add(36) #add element in set
print("After add: ",numbers)

initial set:  {34, 12, 21, 54}
After add:  {34, 36, 12, 21, 54}

In [24]:
logos={"mac",'windows','lenovo'}
other_logos={'lenscart','suger','HP'}
print(logos)
logos.update(other_logos)# update the python set
print(logos)
#remove elements use discard method
logos.discard('HP')#discard method not returning and value
print(logos)
#you can use methods like min,max,len,sum,sorted etc

{'windows', 'lenovo', 'mac'}
{'suger', 'lenovo', 'HP', 'windows', 'mac', 'lenscart'}
{'suger', 'lenovo', 'windows', 'mac', 'lenscart'}

In [26]:
#dictionary
capital_city={"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_city) ##keys and values both are in String
numbers={1:"One",2:"Two",3:"Three"}
print(numbers)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
{1: 'One', 2: 'Two', 3: 'Three'}

In [28]:
#Add elements in dictinary
capital_city["Japan"]="Tokyo"
print(capital_city)
numbers[1]="I"
numbers[2]="II"
numbers[3]="III"
print(numbers)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}
{1: 'I', 2: 'II', 3: 'III'}

In [31]:
#Access elements
print('value of key1: '+numbers[1])
print('Value of Japan: ', capital_city['Japan'])
#delete
del numbers[3]
print("After Delete: ",numbers)
del numbers #will delete the dict object

value of key1: I
Value of Japan:  Tokyo
After Delete:  {1: 'I', 2: 'II'}

In [39]:
import array as a
myarray= a.array('i',[1,2,3,4,5,6,7,8])
print(myarray) #this will print array object
print("Access individual element: ",myarray[3])
for i in myarray:
    print(i)
print("First elemnet: ",myarray[0])
print("Last elemnet: ",myarray[-1])
print(myarray[1:6]) #will return a new array object

array('i', [1, 2, 3, 4, 5, 6, 7, 8])
Access individual element:  4
1
2
3
4
5
6
7
8
First elemnet:  1
Last elemnet:  8
array('i', [2, 3, 4, 5, 6])

In [42]:
#insert we use insert method
myarray.insert(3,90)
print(myarray)
myarray.insert(0,12)
print(myarray)

array('i', [1, 2, 3, 90, 90, 90, 4, 5, 6, 7, 8])
array('i', [12, 1, 2, 3, 90, 90, 90, 4, 5, 6, 7, 8])

In [43]:
#modification is easy
myarray[0]=0
print(myarray)

array('i', [0, 1, 2, 3, 90, 90, 90, 4, 5, 6, 7, 8])

In [47]:
#concattaion array
import array as a
array1= a.array('I',[4,6,8])
array2=a.array('I',[1,3,5])
numbers=array1+array2
print(numbers)

array('I', [4, 6, 8, 1, 3, 5])

In [48]:
#remove element
print(numbers.pop())
print(numbers)
print(numbers.pop(2))
print(numbers)

5
array('I', [4, 6, 8, 1, 3])
8
array('I', [4, 6, 1, 3])

In [49]:
#check with del operation
#check with remove mthod
#search one element is available in array or not
print(numbers.index(3))

3

In [ ]:
#array iteration using loop
#reverse an array using reverse method
#check the numbers of count of some value occured in array more tahn one time