In [5]:
#this is my comment
print("Hello World")

Hello World

In [4]:
print(10+20+56) #addition of 3 numbers

86

In [13]:
#variables
a1=10 #variable 1
a2=20 #variable 2
a3=x+y #variable 3
print(z)
print(a1) #it is case sensitive

30
10

In [9]:
name="sonam soni"
print("My Name is "+name)

My Name is sonam soni

In [20]:
name,age,email="Alex",30,"alex@gmail.com" #multiple variable value assignment
print(name," ", age, " ", email)

x=y=z = "sonam soni" #same value to multiple variables
print("values "+x ," ", y ," ",z)

Alex   30   alex@gmail.com
values sonam soni   sonam soni   sonam soni

In [21]:
fruits=["orange","mango","apple"]
p,q,r = fruits #assign values from array to a variable
print(p, " ",q, " ",r)

orange   mango   apple

In [23]:
print("Data type of a1 ",type(a1))
print("Datatype of x: ",type(x))
print("datatype of p: ",type(p))

Data type of a1  <class 'int'>
Datatype of x:  <class 'str'>
datatype of p:  <class 'str'>

In [24]:
name = str("Sonam Soni")
percentage = float(90.79)
print("Name is "+name)
print("Result is ",percentage)

Name is Sonam Soni
Result is  90.79

In [25]:
#multiline string
message = """Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged. """

print(message)

Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged.

In [30]:
msg="Hello World";
print(msg[1:4])
print(msg[:6]) #start from 0 only
print(msg[6:]) # till end

ell
Hello
World

In [33]:
#string functions
print(msg.upper())
print(msg.lower())
print(msg.replace("World","Everyone"))
print(msg.split(" ")) #split by space

HELLO WORLD
hello world
Hello Everyone
['Hello', 'World']

In [39]:
x,y=10,30
print("Addition ", (x+y))
print("Subtraction ",(y-x))
print("Multiplication: ",(x*y))
print("Division ",(y/x))
print("Module: ",(10%7))
print("Exponential ",(2 ** 5)) # 2^5 (2*2*2*2*)
print("floor Divison ",(13//3))

Addition  40
Subtraction  20
Multiplication:  300
Division  3.0
Module:  3
Exponential  32
floor Divison  4

In [42]:
#relational operator, comparisons
print(10>80)
print(20==(35-15))
print(78>=78)

False
True
True

In [47]:
x=1; #assignment operator
print(x)
x+=2 #x=x+2 (shorthand assignment)
print("update x: ",x)
x*=2 #x=x*2
print("update x: ",x)
x//=4 #x=x//4;
print("update x: ",x)

1
update x:  3
update x:  6
update x:  1

In [50]:
a,b,c= 10,20,30
print((c>a) and (c>b)) #if you want to satisfy all conditions then choose and
print((b>a) and (b>c))
print((b>a) or (b>c)) #if you want to satisfy any one of the conditions then choose or

True
False
True

In [54]:
#identity operator
object1= ["sonam","soni"]
object2= ["sonam","soni"]
object3= object1
print (object1 is object2) #is compares object
print ("Using == ",object1 == object2) #== compares the value inside object
print(object1 is object3)
print(object1 is not object2)

False
Using ==  True
True
True

In [57]:
#membership operator
data=[10,20,30,40,50,60]
print (50 in data)
print (70 in data)
print(90 not in data)

True
False
True

In [59]:
num1= input("Enter first number ")
num2= input("Enter second number ")
result = num1+num2
print(result, " = ",num1," + ",num2)

Enter first number13
Enter second number24
1324  =  13  +  24